<style>
   .container {
     margin: 200px;
     padding: 200px;
   }

   .form-control {
     width: 200px;
   }

   .header {
     height: 40px;
     margin-bottom: 20px;
     background: cornflowerblue
   }
</style>

<div class="default-page">

    <div class="header" id="header">

    </div>
   <div class="main container>
         <div class="container">

           <form action="/" method="POST" class="form-horizontal" >
              <div class="form-group">
               <label class="col-sm-3 control-label">Username</label>
               <div class="col-sm-9">
                 <input type="text" class="form-control" placeholder="Username" name="username">
                </div>
              </div>

              <div class="form-group">
               <label class="col-sm-3 control-label">Password</label>
               <div class="col-sm-9">
                 <input type="text" class="form-control" placeholder="Password" name="password">
                </div>
              </div>

              <div class="form-group">
               <label class="col-sm-3 control-label">Confirm Password</label>
               <div class="col-sm-9">
                 <input type="text" class="form-control" placeholder="Password" name="confirm-password">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <input value="Register" type="submit" class="btn btn-default"/>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  Already have an account? Please <a href="/">login</a>.
                </div>
              </div>

            </form>

         </div>


    </div>
</div>
